# Absolute directory to which read and write operations are confined.
# If set, any attempt to access outside this directory will raise an error.
# Leave empty or undefined to not restrict directories.
REFACTORING_ALLOWED_DIR=C:/Users/Imena/Documents/code/Perso/workspace
